:root {
	--primary-page-color: #757575;
	--primary-logo-color: #000000;
	--secondary-logo-color: #ffffff;
	--header-text-color: #212121;
	--effects-color: #2196f3;
	--header-contact-color: #757575;
	--primary-title-color: #ffffff;
	--header-text-color: #212121;
	--secondary-title-color: #212121;
	--button-secondary-color: #ffffff;
	--button-primary-color: #212121;
	--text-color: #757575;
	--footer-text-color: #ffffff;
	--footer-contact-color: rgba(255, 255, 255, 0.6);
	--primary-background-color: #2f303a;
	--secondary-background-color: #f5f4fa;
	--social-team-color: #afb1b8;
	--social-footer-color: #ffffff;
	--transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
