.header__container {
	display: flex;
	align-items: center;
}
.header {
	border-bottom: 1px solid #ececec;
	padding-top: 16px;
	padding-bottom: 16px;

	@media screen and (min-width: 768px) {
		padding-top: 26px;
		padding-bottom: 26px;
	}

	@media screen and (min-width: 1200px) {
		padding-top: 24px;
		padding-top: 25px;
	}
}

.header__logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--primary-logo-color);

	@media screen and (min-width: 768px) {
		margin-right: 88px;
	}

	@media screen and (min-width: 1200px) {
		margin-right: 92px;
	}
}

.header__nav {
	@media screen and (max-width: 767px) {
		display: none;
	}
	@media screen and (min-width: 768px) {
		display: block;
	}
}

.contacts__item {
	@media screen and (max-width: 767px) {
		display: none;
	}
	@media screen and (min-width: 768px) {
		display: block;
	}
}

.header__burger {
	border: none;
	background-color: transparent;
	padding: 0;
	line-height: 0;
	cursor: pointer;
	margin-left: auto;

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.burger__icon {
	fill: currentColor;
	transition: fill var(--transition);

	&:focus {
		fill: var(--effects-color);
	}
}
.mobile__menu {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	padding: 48px 40px;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: opacity var(--transition), visibility var(--transition);
}

.mobile__menu.is-open {
	visibility: visible;
	opacity: 1;
	pointer-events: all;
}
.menu__close {
	border: none;
	background-color: transparent;
	padding: 0;
	line-height: 0;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 15px;
}

.menu__item:not(:last-child) {
	margin-bottom: 32px;
}
.menu__link {
	font-weight: 500;
	font-size: 40px;
	line-height: 1.17;
	letter-spacing: 0.02em;
	color: var(--header-text-color);
}
.active {
	color: var(--effects-color);
}
.menu__connect {
	margin-top: auto;
	margin-bottom: 64px;
}
.menu__contacts-item:not(:last-child) {
	margin-bottom: 32px;
}
.contacts__link--tel {
	font-weight: 500;
	font-size: 34px;
	line-height: 1.17;
	letter-spacing: 0.02em;
	color: var(--effects-color);
}
.contacts__link--mail {
	font-weight: 500;
	font-size: 24px;
	line-height: 1.16;
	letter-spacing: 0.02em;
	color: var(--header-contact-color);
}
.menu__social-list {
	display: flex;
}

.menu__social-link {
	display: block;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.22;
	letter-spacing: 0.02em;
	color: var(--effects-color);
	padding-left: 10px;
}
.menu__social-link--border {
	border-right: 1px solid rgba(33, 33, 33, 0.2);
	padding-right: 10px;
	padding-left: 10px;
}

.nav__list {
	display: flex;
	align-items: center;
}

.nav__item:not(:last-child) {
	margin-right: 50px;
}
.nav__link {
	color: var(--header-text-color);
	position: relative;
	transition: color var(--transition);

	&:hover,
	&:focus {
		color: var(--effects-color);
	}
	&.current::after {
		content: "";
		display: block;
		width: 100%;
		position: absolute;
		height: 4px;
		border-radius: 2px;
		background-color: var(--effects-color);
		bottom: -42px;

		@media screen and (min-width: 1200px) {
			bottom: -33px;
		}
	}
}
.active {
	color: var(--effects-color);
}

.header__contacts,
.header__contacts .contacts__item {
	color: var(--header-contact-color);

	@media screen and (min-width: 1200px) {
		display: flex;
		vertical-align: baseline;
		align-items: center;
	}
}
.header__contacts {
	margin-left: auto;
}
.contacts__item:not(:last-child) {
	@media screen and (min-width: 768px) {
		margin-bottom: 10px;
	}

	@media screen and (min-width: 1200px) {
		margin-bottom: 0;
		margin-right: 50px;
	}
}

.contacts__link {
	color: var(--header-contact-color);
	fill: var(--header-contact-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	transition: color var(--transition), fill var(--transition);

	@media screen and (min-width: 1200px) {
		display: flex;
		vertical-align: baseline;
	}
}

.contacts__icon {
	margin-right: 10px;
}

.contacts__item .contacts__link:hover,
.contacts__item .contacts__link:focus {
	color: var(--effects-color);
	fill: var(--effects-color);
}
