.services {
	@media screen and (max-width: 1199px) {
		display: none;
	}
	@media screen and (min-width: 1200px) {
		display: block;
		padding-top: 94px;
		padding-bottom: 94px;
	}
}
.services__title {
	margin-bottom: 50px;
}
.services__list {
	display: flex;
	margin-left: -30px;
	margin-top: -30px;
}
.services__item {
	flex-basis: calc(100% / 3 - 30px);
	margin-left: 30px;
	margin-top: 30px;
}
.services__item-wrap {
	position: relative;
	overflow: hidden;
}
.services__img {
	display: block;
}
.services__text {
	position: absolute;
	bottom: 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--footer-text-color);
	background-color: rgba(47, 48, 58, 0.8);
	height: 70px;
	width: 370px;
	padding-top: 27px;
}
