.modal__form {
	display: flex;
	flex-direction: column;
}

.form__caption {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--secondary-title-color);
	margin-bottom: 12px;
}

.form__label {
	font-size: 12px;
	line-height: 1.14;
	letter-spacing: 0.01em;
	color: var(--text-color);
	margin-bottom: 10px;
}
.form__wrap {
	position: relative;
	display: block;
	margin-top: 4px;
}
.form__input {
	width: 100%;
	height: 40px;
	padding-left: 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border-color var(--transition);

	&:focus {
		outline: none;
		border-color: var(--effects-color);
	}
}

.form__message {
	width: 100%;
	height: 120px;
	margin-bottom: 20px;
	margin-top: 4px;
	padding: 12px 16px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	resize: none;
	transition: border-color var(--transition);

	&::placeholder {
		color: rgba(117, 117, 117, 0.5);
	}
	&:focus {
		outline: none;
		border-color: var(--effects-color);
	}
}

.form__icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	transition: fill var(--transition);

	.form__input:focus + & {
		fill: var(--effects-color);
	}
}

.checkbox__label {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 11.5px;
	line-height: 0.85;
	letter-spacing: 0.03em;
	color: #757575;
	margin-bottom: 30px;
	transition: color var(--transition);
	@media screen and (min-width: 1200px) {
		font-size: 14px;
		line-height: 1.71;
	}
	&::before {
		display: block;
		content: "";
		width: 16px;
		height: 16px;
		margin-right: 8px;
		border: 2px solid var(--secondary-title-color);
		border-radius: 3px;
		cursor: pointer;
	}
	.form__checkbox:focus + &::before {
		border-color: var(--effects-color);
	}

	.form__checkbox:checked + &::before {
		border-color: var(--effects-color);
		background-image: url(../images/icon-checkbox.svg);
		background-color: var(--effects-color);
		background-position: center;
		background-repeat: no-repeat;
	}
}

.form__btn--submit {
	align-self: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
	text-align: center;
	letter-spacing: 0.06em;
	min-width: 200px;
	height: 50px;
	color: #ffffff;
	background: var(--effects-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
.policy__link {
	color: var(--effects-color);
}
